/*  Home    */

#wrapper {
    width: 100%;
    margin: auto;
    background:white;
}

.intro-img {
    display: block;
    width: 25%;
}

.intro-img2 {
    display: block;
    width: 10%;
}

#intro-p {
    display: block;
    width: 50%;
}

#intro h1 {
    text-align: center;
}

.ca {
    text-align: center;
}

#togBut {
    border: 2px solid white;
    border-radius: 25px;
    background: #8296DF;
    padding: 5px;
}

#togBut:hover {
    background: black;
    color: white;
}

#form {
    text-align: center;
}

#searchbar {
    width: 33%;
    float: right;
    margin-left: 23%;
}

#loginContainer {
    margin-top: 18%;
}

#loginBtn {
    float: right;
}